.App {
  text-align: center;
  background-color: #c4c4c4;
  min-height: 100vh;
}

.App-header {
  background-color: #2b2929;
  min-height: 5vh;
  max-width: 50%;
  margin: auto;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  color: white;
}

.nav-links {
  margin: auto;
}

.hidden {
  visibility: hidden;
}


.brand {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.brand-logo {
  width: 20%;
  height: 70%;
}

.brand-link {
  font-size: medium;
  margin: 10px;
  text-decoration: none;
  color: rgb(119, 113, 111);
}

.brand-link:hover {
  color: white;
  text-decoration: none;
}

.logout-btn {
  margin: auto;
  color: rgb(119, 113, 111);
}

.logout-btn:hover {
  color: white;
}

.App-footer {
  position: fixed;
  background-color: #2b2929;
  align-items: center;
  justify-content: center;
  left: 25%;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  height: 5vh;
  width: 50%;
  color: white;
}

.App-link {
  color: #88b9c7;
  text-decoration: none;
}

.App-link:hover {
  color: #2ed2ff;
  text-decoration: none;
}

.header-link{
  color: whitesmoke;
  text-decoration: none;
  margin: 5px;
}
